@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


*{
  padding: 0;
  margin: 0;
}
html::-webkit-scrollbar{
  display: none;
}
body {
  background-color: rgb(8, 8, 8);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style-type: none;
}
h2{
  color: white;
}
.header{
  position: fixed;
  width: 100%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-top: -70px;
  background-color: rgb(8,8,8);
  z-index: 1;
}
.bt_menu{
  color: white;
  font-size: 3em;
  margin-left: 2%;
}
.menu_icone{
  width: 100px;
  height: 69px;
  font-family: 'Koulen', cursive;
  color: white;
  font-size: 40px;
  
}
.bt_search{
  display: block;
  color: white;
  font-size: 2.5em;
  margin-right: 2%;
}

/*menu*/
.barra_menu{
  position: fixed;
  z-index: 2;
  width: 320px;
  height: 100%;
  color: white;
  background-color: rgba(5, 5, 5, 0.788);
  transform: translate(-101%);
  transition: transform 0.6s;
}
.barra_menu.ativa{
  transform: translate(0%);
}

.close{
  font-size: 3em;
  margin-left: -20px;
}
.mm_center{
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 10px;
}
.emlinha{
  display: flex;
  align-items: center;
  
  transition-duration: 1s;
  font-size: 20px;
  padding-bottom: 5px;
}
.emlinha:hover{
  color: black;
  background-image: linear-gradient(to right, rgba(253, 0, 0, 0.747) 70%, rgba(5, 5, 5, 0.096));
}

.fav{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.cat{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.down{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.coming{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.conf{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.hom{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.out{
  font-size: 2.3em;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}

/* - controles de navegação em baixo - */

.controlesBaixo{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blibio{
  color: white;
  font-size: 2.3em;
  
}
.goHome{
  color: white;
  font-size: 2.3em;
  
}
.return{
  color: white;
  font-size: 2.3em;
}


.areaVisual{
width: 100%;
height: 150px;
margin: auto;
margin-top: 70px;

}
.mainImagem{
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  animation: desvanecer 0.6s linear 1;
  animation-delay: 5.4s;
  z-index: 0;
}
/* - listas do home - */
.show{
  width: 150px;
  height: 230px;
  background-size: 100% 100%;
  
}
.mgtop{
  margin-top: 20px;
}
.lettershow{
  line-height: 30px;
  color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
  max-width: 19ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.espaco{
  margin-left: 3px;
  margin-right: 3px;
  transition-duration: 4s;
}
.espaco:hover{
  background-color: currentColor;
}

.firstlist{
  margin-top: 10px;
  text-align: center;
  font-family: fantasy;
}

.listflex{
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.listflex::-webkit-scrollbar{
  display: none;
}

/*- footer - */
.fft{
  color: white;
  display: flex;
  padding: 20px;
  padding-bottom: 70px;
  background-color: rgb(2, 2, 2);
  align-items: center;
  justify-content: space-evenly;
}
.bigfooter{
  font-family: 'Koulen', cursive;
  font-size: 28px;
}


/* - sub page (pagina de mostra) - */
.background_image{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.fosco{
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.fosco::-webkit-scrollbar{
  display: none;
}

.subcenter{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colRow{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.quadro{
  width: 300px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.623);
  margin-top: 70px;
  flex-shrink: 0;
}
.joinTwo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nomeprincipal{
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  text-shadow: 2px 2px 4px black;
}
.alignLink{
  margin-top: 15px;
}
.link_leitura{
  text-decoration: none;
  color: rgb(0,0,0);
}
.div_leitura{
  width: 280px;
  height: 45px;
  background-color: rgba(89, 253, 89, 0.884);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
  transition: background-color 1s;
}
.div_leitura:hover{
  background-color: rgb(95, 178, 255);
}
.icone_leitura{
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-image: url("./imgs/literature.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 10px;
}
.div_leitura p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.mgtop{
  display: flex;
  align-items: center;
}
.heart_fav{
  font-size: 40px;
  margin-right: 10px;
  margin-bottom: -10px;
  color: white;
}
.heart_fav.fav{
  color: red;
}

.leftalign{
  width: 100%;  
}
.all_space{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  z-index: 2;
  transform: translate(101%);
  transition-duration: 0.7s;
}
.all_space.ocult{
 transform: translate(0%);
}
.capitulos_align_flex{
  display: flex;
  align-items: center;
}
.read_yes{
  color: green;
  font-size: 22px;
  margin-right: 5px;
}
.read_no{
  font-size: 22px;
  margin-right: 5px;
}
.lista_de_capitulos{
  
  display: block;
  width: 70%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.884);
  color: rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
.close2{
  font-size: 3em;
  margin-left: 3vw;
  margin-right: 5vw;
  margin-top: 50vh;
}
.scroll_y_list{
  padding: 65px 0 100px 0;
  
  overflow-y: auto;

}
.scroll_y_list::-webkit-scrollbar{
  display: none;
}
.all_caps{
  line-height: 22px;
  word-break: keep-all;
}
.lis_tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow-x: auto;
  color: whitesmoke;
  text-shadow: 1px 1px 1px rgba(19, 19, 19, 0.651);
}
.lis_tags::-webkit-scrollbar{
  display: none;
}
.lis_tags li{
  border: 1px solid rgb(131, 150, 238);
  border-radius: 10px;
  padding: 0 15px;
  margin: 0 3px;
  text-align: center;
}
.retirado{
  font-weight: bold;
  margin-top: 40px;
}
.font{
  font-weight: normal;
  text-decoration: none;
  color: white;
}
/*font:hover{
  text-decoration: underline;
  color: white;
}*/
.sinopse{
  margin: 10px;
  color: whitesmoke;
  padding-bottom: 60px;
  text-align: justify;
}

/*  -   leitor  - */
.informaçoes{
  display: flex;
  flex-direction: row;
  background-color: rgb(53, 53, 53);
  margin: 7px;
  box-shadow: 1.5px 1.5px 3px rgba(245, 245, 245, 0.445);
}
.info_img{
  width: 100px;
  height: 150px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-shrink: 0;
}
.titulo_leitor_manga{
  font-size: 16px;
  margin-left: 5px;
}
.flex_column_leitor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.scroll_leitor_sinopse{
  height: 100px;
  overflow-y: auto;
  font-size: 14px;
}
.scroll_leitor_sinopse::-webkit-scrollbar{
  display: none;
}
.leitor_footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leitor_footer .bigfooter{
  color: whitesmoke;
}
.control_leitor_footer{
  width: 90%;
  height: 100px;
  margin: 10px;
  border: 1px solid black;
  border: 1px 1px 2px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.075);

}
.prev{
  font-size: 2em;
}
.next{
  font-size: 2em;
}
.toTop{
  font-size: 2em;
}
.lis_tags p{
  padding: 10px;
}

/*  - serch -  */


.margin_top{
 height: 60px;
}
.inp_align{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inp_search{
  width: 70%;
  height: 20px;
  flex-shrink: 0;
  text-align: center;
}
.active_search{
  width: 40px;
  height: 40px;
  background-image: url('./imgs/lupa.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 2%;
}
.serch_flex_align{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.result{
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  border: 1px solid black;
  flex-shrink: 0;
  background-color: rgb(0, 1, 10);
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.075);
}
.div_flex_search{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.result::-webkit-scrollbar{
  display: none;
}
.div_result_search{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.search_img{
  width: 150px;
  height: 230px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.lettershow2{
  line-height: 30px;
  color: white;
  border-bottom: 1px solid white;
  overflow: hidden;
  max-width: 17ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*- loadin - */

.loading_gradient{
  width: 100%;
  height: 260px;
  background-image: linear-gradient(90deg,rgb(32, 32, 32), rgb(32, 32, 32),rgb(31, 31, 31),rgb(46, 45, 45) , rgb(31, 31, 31),rgb(32, 32, 32),rgb(32, 32, 32));
  background-size: 400%;
  animation: carregando2 3s linear infinite;
}
/*animação de desvanecer*/
@keyframes desvanecer {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes carregando1 {
  from{
    background-position: -5000px;
  }
  to{
    background-position: 0;
  }
}
@keyframes carregando2 {
  from{
    background-position: -2600px;
  }
  to{
    background-position: 0;
  }
}





/* - media queries - */
@media (min-width: 700px) {
  .controlesBaixo{
    width: 700px;
    
  }
}

@media (min-width: 850px) {
  .colRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .quadro{
    margin-left: 10px;
  }
  .joinTwo{
    flex-shrink: 1;
  }

  .loading_gradient{
    animation: carregando1 3s linear infinite;
  }
}