@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
  color: white;
}
body {
  background-color: rgb(8, 8, 8);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  list-style-type: none;
}
.header{
  position: fixed;
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-top: -70px;
  background-color: rgb(8,8,8);
}
.bt_menu{
  width: 50px;
  height: 50px;
  background-image: url('./imgs/menuwhite.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 2%;
}
.menu_icone{
  width: 100px;
  height: 55px;
  background-image: url('./imgs/mangaKa.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}
.bt_search{
  width: 50px;
  height: 50px;
  background-image: url('./imgs/lupa.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 2%;
}

/*menu*/
.barra_menu{
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 100%;
  color: white;
  background-color: rgb(5, 5, 5);
  transform: translate(-101%);
  transition: transform 0.6s;
}
.barra_menu.ativa{
  transform: translate(0%);
}

.close{
  width: 40px;
  height: 40px;
  background-image: url('./imgs/close.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.mm_center{
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 10px;
}
.emlinha{
  display: flex;
  align-items: center;
  background-image: linear-gradient(0deg,rgb(5,5,5),rgb(5,5,5));
  transition-duration: 1s;
  font-size: 20px;
  padding-bottom: 5px;
}
.emlinha:hover{
  color: black;
  background-image: linear-gradient(to right, rgb(255,37,37) 70%, rgb(5, 5, 5));
}

.fav{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/favorite.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.cat{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/classmenu.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.down{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/download.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.coming{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/lua.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.conf{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/tools.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.hom{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/homeimg.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}
.out{
  width: 55px;
  height: 55px;
  background-image: url('./imgs/power.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 30px;
}

/* - controles de navegação em baixo - */

.controlesBaixo{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blibio{
  width: 45px;
  height: 45px;
  background-image: url('./imgs/classmenu.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 3%;
}
.goHome{
  width: 45px;
  height: 45px;
  background-image: url('./imgs/homeimg.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.return{
  width: 45px;
  height: 45px;
  background-image: url('./imgs/doble-arrow.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 3%;

}


.areaVisual{
width: 100%;
height: 150px;
margin: auto;
margin-top: 70px;

}
.mainImagem{
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  animation: desvanecer 0.6s linear 1;
  animation-delay: 5.4s;
}
/* - listas do home - */
.show{
  width: 150px;
  height: 230px;
  background-size: 100% 100%;
  
}
.lettershow{
  line-height: 30px;
  border-bottom: 1px solid white;
}
.espaco{
  margin-left: 3px;
  margin-right: 3px;
}

.firstlist{
  margin-top: 10px;
  text-align: center;
  font-family: fantasy;
}
.listflex{
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.listflex::-webkit-scrollbar{
  display: none;
}

/*animação de desvanecer*/
@keyframes desvanecer {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}





/* - media queries - */
@media (min-width: 700px) {
  .controlesBaixo{
    width: 700px;
    
  }
}